# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/results
*.html
app*.json*
/lighthouse-results

# development
/build
/dist
/coverage


# misc
.idea
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
agent.log*